/* BUTTONS */
.button {
  padding: 12px 22px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.button--primary {
  background-color: #f4a300;
  color: #fff;
}

.button--secondary {
  background-color: #111;
  color: #fff;
}

/* CARDS */
.dish-card,
.menu-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.dish-card__image,
.menu-card__image {
  width: 100%;
  border-radius: 12px;
}

.dish-card__button,
.menu-card__button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  background-color: #111;
  color: #fff;
  cursor: pointer;
}
