/* ================= HEADER ================= */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #e7dedb;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
}

/* ================= HERO & ABOUT ================= */
.hero,
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
  padding: 70px 60px;
}

/* ================= SECTIONS ================= */
.dishes,
.menu {
  padding: 70px 60px;
}

/* ================= FOOTER ================= */
.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 60px;
}

.footer__bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 15px;
}
