/* ================= NAV ================= */
.header__logo img {
  height: 100px;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 32px;
}
.header__menu a{
  text-decoration: none;
}
.header__menu-item {
  cursor: pointer;
  position: relative;
}

.header__menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #111;
  transition: width 0.3s ease;
}

.header__menu-item:hover::after {
  width: 100%;
}

.header__menu-item--active {
  font-weight: bold;
}

/* ================= HERO ================= */
.hero__title {
  font-size: 64px;
  line-height: 1.1;
}

.hero__title-highlight {
  display: block;
}

.hero__description {
  margin: 25px 0;
  max-width: 480px;
}

.hero__buttons {
  display: flex;
  gap: 15px;
}

.hero__image img {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  border-radius: 24px;
}

/* ================= DISHES ================= */
.dishes__title {
  margin-bottom: 30px;
}

.dishes__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* ================= ABOUT ================= */
.about__image img {
  width: 100%;
  border-radius: 24px;
}

.about__title {
  margin-bottom: 15px;
}

.about__text {
  margin-bottom: 20px;
}

/* ================= MENU ================= */
.menu__categories {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.menu__category {
  cursor: pointer;
}
.menu__category--active {
  font-weight: bold;
}

.menu__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* ================= FOOTER ================= */
.footer__title {
  margin-bottom: 10px;
}

.footer__text {
  margin-bottom: 6px;
}
