/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page center */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a9caec;
}

/* Signup box */
.signup {
  width: 350px;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
}
/* Heading */
.signup h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.signup input[type="email"],
.signup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
#address, #country, #city{
    margin-top: 10px;
}
textarea{
    max-width: 100%;
}
button{
    color: white;
}
/* Gender section */
.signup div {
  margin-top: 15px;
}

.signup label {
  margin-right: 15px;
  font-size: 14px;
  color: #555;
}

/* Error message */
.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

/* Button */
.signup button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.signup button:hover {
  background: #4338ca;
}
